@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
    font-family: 'inconsolata';
}
body{
    background-color: black;
    text-align: center;
    color: #fff;
}
.contenedor{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img1{
    background-image: url(img/1.jpg);
}
.img2{
    background-image: url(img/2.jpg);
}
.img3{
    background-image: url(img/3.jpg);
}
.item{
    width: 30%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 0 10px;
    transition: .3s;
    position: relative;
    border-radius: 20px;
}